# TODO: unignore this, see https://github.com/Edgeryders-Participio/multi-dreams/issues/334
ui/server/services/eventHub.service.js
ui/server/mongo
cypress
next.config.js
tailwind.config.js
cypress.config.ts

# https://typescript-eslint.io/docs/linting/type-linting#i-get-errors-telling-me-the-file-must-be-included-in-at-least-one-of-the-projects-provided
.eslintrc.js

scripts/formatter.js