/* .masonry {
  column-gap: 1rem;
  column-count: 1;
}
@media (min-width: 768px) {
  .masonry {
    column-count: 4;
  }
} */

/* New masonry layout */
.image-feed-masonry {
  /* Base (mobile): one column */
  column-gap: 1rem;
  column-count: 1;
}

@media (min-width: 640px) {
  .image-feed-masonry {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .image-feed-masonry {
    column-count: 3;
  }
}

@media (min-width: 1024px) {
  .image-feed-masonry {
    column-count: 4;
  }
}
