@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  @apply antialiased;
}

html {
  @apply bg-gray-50;
}

/* fix for overflowing Wysiyg component */
html,
body {
  @apply overflow-x-hidden relative;
}

.page {
  @apply py-5 px-2 md:px-4 max-w-screen-xl mx-auto;
}

.expand-gradient {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 1)
  );
}

.markdown {
  @apply space-y-2;
}

.markdown h1 {
  @apply text-2xl font-semibold;
}

.markdown h2 {
  @apply text-lg font-semibold;
}

.markdown h3,
h4,
h5 {
  @apply font-semibold;
}

.markdown hr {
  @apply mt-6 mb-6 !important;
}

.markdown p {
  @apply text-gray-900;
}

.markdown a {
  @apply text-black underline;
}

/* based on (MIT)
 https://github.com/remirror/remirror/blob/82068597c35dfff9e81821a0f0fbac17932485d2/packages/remirror__theme/src/extension-mention-atom-theme.ts#L5-L14 */
/* applied dynamically in Markdown.tsx */
.markdownMention {
  background: #e9ecef;
  font-weight: bold;
  font-size: 0.9em;
  font-style: normal;
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
  /*color: ${getThemeVar('color', 'primary')};*/
}

.markdown li {
  @apply list-inside;
}
.markdown li > * {
  display: inline-block;
}
.markdown ul {
  @apply list-disc;
}
.markdown ol {
  @apply list-decimal;
}

.markdown blockquote {
  @apply bg-gray-100 border-l-4 border-gray-200 px-4 py-2;
}

.markdown aside {
  @apply bg-gray-100 border-l-4 border-gray-200 px-4 py-2;
}

.markdown aside blockquote {
  @apply bg-transparent border-0 p-0 m-0;
}

.markdown aside .title {
  @apply text-sm font-medium text-black mt-1 !important;
}

.markdown img.emoji {
  @apply w-5 h-5 align-middle inline;
}

.markdown img.avatar {
  @apply hidden;
}

.markdown div.meta {
  @apply hidden;
}

.markdown a.mention {
  @apply pointer-events-none cursor-default;
}