@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  @apply antialiased;
}

html {
  @apply bg-gray-50;
}

/* fix for overflowing Wysiyg component */
html,
body {
  @apply overflow-x-hidden relative;
}

.page {
  @apply py-5 px-2 md:px-4 max-w-screen-xl mx-auto;
}

.expand-gradient {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 1)
  );
}

.markdown {
  @apply space-y-2;
}

.markdown h1 {
  @apply text-2xl font-semibold;
}

.markdown h2 {
  @apply text-lg font-semibold;
}

.markdown h3,
h4,
h5 {
  @apply font-semibold;
}

.markdown hr {
  @apply mt-6 mb-6 !important;
}

.markdown p {
  @apply text-gray-900;
}

.markdown a {
  @apply text-black underline;
}

/* based on (MIT)
 https://github.com/remirror/remirror/blob/82068597c35dfff9e81821a0f0fbac17932485d2/packages/remirror__theme/src/extension-mention-atom-theme.ts#L5-L14 */
/* applied dynamically in Markdown.tsx */
.markdownMention {
  background: #e9ecef;
  font-weight: bold;
  font-size: 0.9em;
  font-style: normal;
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
  /*color: ${getThemeVar('color', 'primary')};*/
}

.markdown li {
  @apply list-inside;
}
.markdown li > * {
  display: inline;
}
.markdown ul {
  @apply list-disc;
}
.markdown ol {
  @apply list-decimal;
}

.markdown blockquote {
  @apply bg-gray-100 border-l-4 border-gray-200 px-4 py-2;
}

.markdown aside {
  @apply bg-gray-100 border-l-4 border-gray-200 px-4 py-2;
}

.markdown aside blockquote {
  @apply bg-transparent border-0 p-0 m-0;
}

.markdown aside .title {
  @apply text-sm font-medium text-black mt-1 !important;
}

.markdown img.emoji {
  @apply w-5 h-5 align-middle inline;
}

.markdown img.avatar {
  @apply hidden;
}

.markdown div.meta {
  @apply hidden;
}

.markdown a.mention {
  @apply pointer-events-none cursor-default;
}

/* Markdown */
.markdown blockquote {
  margin: 10px 0px !important;
  background-color: transparent;
  color: rgb(80, 80, 80);
  padding: 0px 22px;
  margin: 6px 0px;
}

.markdown blockquote p {
  color: #888 !important;
}

.markdown code {
  margin: 15px 0px !important; /* Override default */
  padding: 15px 20px !important;
  border: 1px solid rgb(224, 224, 224);
  background-color: rgb(250, 250, 250);
  display: block;
  border-radius: 3px;
  font-size: 14px;
}

.markdown > *:first-child {
  margin-top: 35px;
}

.markdown p {
  font-size: 16px;
  line-height: 24px;
}

.markdown h1 {
  margin-top: 40px !important;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700 !important;
}

.markdown h2 {
  margin-top: 30px !important;
  font-size: 22px;
  font-weight: 700 !important;
}

.markdown h3 {
  margin-top: 30px !important;
  font-size: 18px;
  font-weight: 700 !important;
}

.markdown h4,
.markdown img {
  margin-top: 30px !important;
}

.markdown li {
  margin-top: 10px;
}

/* Markdown */

/* Remirror Editor */
.remirror-editor blockquote {
  margin: 10px 0px !important;
  background-color: transparent;
  padding: 0px 22px !important;
}

.remirror-editor blockquote p {
  font-style: normal;
  margin: 0 !important;
}

.remirror-editor code {
  margin: 15px 0px !important; /* Override default */
  padding: 15px 20px !important;
  border: 1px solid rgb(224, 224, 224);
  background-color: rgb(250, 250, 250);
  display: block;
  border-radius: 3px;
  font-size: 14px;
}

.remirror-editor > *:first-child {
  margin-top: 0px !important;
}

.remirror-editor p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px !important;
}

.remirror-editor h1 {
  margin-top: 40px !important;
  font-size: 28px !important;
  line-height: 34px;
}

.remirror-editor h2 {
  margin-top: 30px !important;
  font-size: 22px !important;
}

.remirror-editor h3 {
  margin-top: 30px !important;
  font-size: 18px !important;
}

.remirror-editor h4,
.remirror-editor img {
  margin-top: 30px !important;
}

.remirror-editor li {
  margin-top: 10px;
}

.remirror-editor pre {
  background-color: transparent !important;
  color: black !important;
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: -10px !important;
}
/* Remirror Editor */
